# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


submission.csv
submission.zip
subset.csv
subset2.csv
test.csv
train.csv
train2.csv
sampleSubmission.csv
__pycache__/
*.npy
.cproject
.project
*.pkl
*.zip
*.pyc
clean/scoreSave.csv
data/hundredth.csv
data/hundredthfreq.csv
data/hundredthfreq1.csv
data/tenth.csv
data/tenthfreq.csv
data/tenthfreq1.csv
data/test2930.csv
data/test293010th.csv
data/testfreq.csv
data/testfreq1.csv
data/testScores - Copy (2).csv
data/testScores - Copy (3).csv
data/testScores - Copy.csv
data/testScores.csv
data/testsetComp.csv
data/testsetPhone.csv
data/train10th.csv
data/trainsetComp.csv
data/trainsetPhone.csv
data/trainsetPhone10.csv
data/trainsetPhone100.csv
data/trainsetPhone2930.csv
data/submission.rar
clean/scoresSaved.csv
data/test1IPID.csv
data/testIP2930.csv
data/testIPDID2930.csv
data/testIPID.csv
data/testIPID2930.csv
data/train1IPID.csv
data/trainIP.csv
data/trainIPID.csv
data/testFinalIPID.csv
data/testFinalIPID2930.csv
data/trainFinalIPID.csv
data/submission1.rar
VowpalWabbit/train.vw
VowpalWabbit/test.vw
VowpalWabbit/train.vw.cache
VowpalWabbit/avazu.preds.txt
*.vw
*.vw
*.rar
*.cache
*.writing
VowpalWabbit/testSep2.csv
VowpalWabbit/readable.model
VowpalWabbit/avazu.model.vw
VowpalWabbit/scores.csv
VowpalWabbit/avazu.model.vw
VowpalWabbit/avazu.model.vw